.primary {
    color: var(--falcon-navbar-light-brand-color);
}

.match-header {

}
.match-result {
    .score-card{
        &.add {
            min-height: 550px;

            .visible-tablet {
                @include media-breakpoint-up(md) {
                    display: none !important;
                }
            }

            .hidden-tablet {
                @include media-breakpoint-down(md) {
                    display: none !important;
                }
            }

            @media screen and (max-width: 767.98px) {
                padding: 0;
                min-height: 400px;
            }
        }

        .holder {
            // min-height: inherit;
            @media screen and (max-width: 576px) {
                padding: 5px;
                border: 0;
            }
            > .row {
                @media screen and (max-width: 767.98px) {
                    min-height: 200px;
                }

                > .col-auto {
                    &:first-child {
                        @media screen and (max-width: 767.98px) {
                            width: auto !important;
                            flex: inherit !important;
                            flex-direction: column !important;
                            justify-content: space-between;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            align-items: flex-start !important;

                            .score-count {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .winner-flag {
            font-size: 16px;

            @media screen and (max-width: 767.98px) {
                font-size: 14px;
            }
            @media screen and (max-width: 576px) {
                font-size: 12px;
            }
        }

        .country-info {
            .flag {
                width: 50px;

                @media screen and (max-width: 767.98px) {
                    width: 40px;
                }
                @media screen and (max-width: 576px) {
                    width: 30px;
                }
            }
        }

        .score-box {
            font-size: 60px;
            min-width: 180px;

            @media screen and (max-width: 767.98px) {
                font-size: 45px;
                min-width: 140px;
            }
            @media screen and (max-width: 576px) {
                font-size: 30px;
                min-width: 100px;
            }
        }

        .score-count {
            .box {
                .title {
                    font-size: 18px;

                    @media screen and (max-width: 767.98px) {
                        font-size: 16px;
                    }
                    @media screen and (max-width: 576px) {
                        font-size: 14px;
                    }
                }

                .count {
                    font-size: 50px;

                    @media screen and (max-width: 767.98px) {
                        font-size: 40px;
                    }
                    @media screen and (max-width: 576px) {
                        font-size: 30px;
                    }
                }
            }
        }

        .user-info {
            .user-name {
                font-size: 32px;
                line-height: 1.20;

                @media screen and (max-width: 767.98px) {
                    font-size: 25px;
                }

                @media screen and (max-width: 576px) {
                    font-size: 18px;
                    word-break: break-word;
                }
            }

            .academy-name {
                font-size: 16px;

                @media screen and (max-width: 767.98px) {
                    font-size: 14px;
                }

                @media screen and (max-width: 576px) {
                    font-size: 12px;
                }
            }
        }
    }
}

.score-card {
    min-height: 100vh;
    background: $black2;
    padding: 1rem;
    color: white;
    overflow: hidden;

    @media screen and (max-width: 960px) {
        padding: 0.5rem;
    }

    &.add {
        min-height: 800px;
    }

    .winner-flag {
        display: inline-flex;
        background-color: #e7cf44;
        color: #121005;
        font-size: 1.25vw;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 15px;
        margin: 15px 0;
    }

    .action-holder {
        background: #131415;
        display: flex;
        flex-direction: column;
        margin: 5px 0;

        @include media-breakpoint-up(md) {
            margin: 10px 0;
        }

        &.final {
            ul {
                &:first-child {
                    li {
                        min-width: 100%;
                        
                        button {
                            min-width: 100%;
                        }
                    }
                }
            }
        }

        &.alt {
            background: transparent;
            // max-width: 25vw;

            .inner-holder {
                display: flex;
                flex-direction: column;

                .title {
                    display: block;
                    background: #2a2a2a;
                    padding: 10px;
                    text-align: center;
                    font-size: 1vw;
                    text-transform: uppercase;
                    font-weight: bold;
                    line-height: 1.2;

                    @media screen and (max-width: 960px) {
                        padding: 8px;
                        line-height: 1;
                    }
                }
    
                ul {
                    flex: 1;
                    li {
                        min-width: 50%;
                        button {
                            text-align: center;
                            justify-content: center;
                            min-width: 100%;
                            font-size: 1vw;

                            @media screen and (max-width: 960px) {
                                font-size: 1.25vw;
                            }
                    
                            @media screen and (max-width: 767px) and (orientation: portrait) {
                                font-size: 1.25vw;
                            }
                    
                            @media screen and (max-width: 900px) and (orientation: landscape) {
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                display: inline-flex;

                button {
                    background: $black;
                    border-radius: 0;
                    border-color: $black;
                    min-width: 5vw;
                    box-shadow: none;
                    padding: 7px;
                    text-transform: uppercase;
                    font-size: 1vw;
                    line-height: 1.5;

                    @media screen and (max-width: 960px) {
                        font-size: 1.25vw;
                        line-height: 1;
                    }
            
                    @media screen and (max-width: 767px) and (orientation: portrait) {
                        font-size: 1.25vw;
                    }
            
                    @media screen and (max-width: 900px) and (orientation: landscape) {
                        font-size: 1.5vw;
                    }

                    &:hover {
                        opacity: 0.8;
                    }

                    &.btn-advantage {
                        color: #78a575;
                    }

                    &.btn-penalty {
                        color: #6d4948;
                    }

                    &.btn-grey {
                        background: #3d3d3d;
                        color: $white;
                    }
                }
            }
        }
    }

    .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .holder {
        border: 3px solid $gray-1200;
        border-radius: 5px;
        padding: 0.5rem;
        -webkit-box-shadow:inset 0 0 0 5px $black2;
        box-shadow:inset 0 0 0 5px $black2;
        min-height: 100%;
        background: $gray-1300;
    }

    .country-info {
        margin: 0 0.5vw 0 0;

        .flag {
            width: 4vw;

            img {
                width: 100% !important;
                height: auto !important;
            }
        }
        .country-name {
            font-weight: $font-weight-bold;
            font-size: 2vw;
        }
    }

    .user-info {
        .user-name {
            font-size: 3vw;
            font-weight: $font-weight-bold;
            line-height: 1;
            color: $white;
            margin: 0 0 2px;

            @media screen and (max-width: 960px) {
                font-size: 2.5vw;
            }
    
            @media screen and (max-width: 767px) and (orientation: portrait) {
                font-size: 3vw;
            }
    
            @media screen and (max-width: 900px) and (orientation: landscape) {
                font-size: 2vw;
            }
        }

        .academy-name {
            font-weight: $font-weight-bold;
            font-size: 1.25vw;
        }
    }

    .score-count {
        .box {
            .title {
                font-size: 1.75vw;
            }

            .count {
                font-size: 6vw;
                font-weight: $font-weight-bold;
                line-height: 1;

                @media screen and (max-width: 960px) {
                    font-size: 5vw;
                }
        
                @media screen and (max-width: 767px) and (orientation: portrait) {
                    font-size: 6vw;
                }
        
                @media screen and (max-width: 900px) and (orientation: landscape) {
                    font-size: 4.5vw;
                }
            }
        }
    }
    
    .score-box {
        color: $white;
        font-size: 14vw;
        font-weight: $font-weight-bold;
        line-height: 1;
        min-width: 20vw;
        margin-left: 1vw;
        padding: 1rem;


        @media screen and (max-width: 960px) {
            font-size: 12vw;
        }

        @media screen and (max-width: 767px) and (orientation: portrait) {
            font-size: 14vw;
        }

        @media screen and (max-width: 900px) and (orientation: landscape) {
            font-size: 10vw;
        }
    }

    .header {
        color: $white;
        font-weight: $font-weight-bold;
        font-size: 2vw;
        padding: 3vh 0 0;

        @media screen and (max-width: 960px) {
            font-size: 1.5vw;
        }

        @media screen and (max-width: 767px) and (orientation: portrait) {
            padding: 1vh 0 0;
            font-size: 2vw;
        }

        @media screen and (max-width: 900px) and (orientation: landscape) {
            font-size: 1.25vw;
        }


        h5 {
            color: $yellow2;
            font-weight: $font-weight-bold;
            font-size: 2.5vw;
            
            @media screen and (max-width: 960px) {
                font-size: 2vw;
            }
    
            @media screen and (max-width: 767px) and (orientation: portrait) {
                font-size: 2.5vw;
            }
    
            @media screen and (max-width: 900px) and (orientation: landscape) {
                font-size: 1.8vw;
            }
        }
    }

    .timer {
        font-size: 15vw;
        font-weight: $font-weight-normal;
        color: $yellow2;
        line-height: 1;
        padding: 1vh 1vw 0;
    
        @media screen and (max-width: 960px) {
            font-size: 12vw;
            padding: 1vh 0.5vw 0;
        }

        @media screen and (max-width: 767px) and (orientation: portrait) {
            font-size: 11vw;
            padding: 2vh 0 0;
        }

        @media screen and (max-width: 900px) and (orientation: landscape) {
            font-size: 10vw;
        }
    }

}

.modal-header {
    font-size: 3vw;
    line-height: 1;
}

.actionable-buttons {
    display: flex;
    padding: 20px;

    li {
        padding: 0 10px;
    }

    button {
        font-size: 2.5vw;
        line-height: 1;
    }
}

.gallery {
    .video-width {
        width: -webkit-fill-available;
    }
}